
{% macro render_field(field) %}
    <li>
        {{ field.label }}
        <div>
            {{ field(**kwargs)|safe }}

            {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </li>
{% endmacro %}

{% macro render_form_errors(form) %}
    {% if form.non_field_errors %}
        <ul class="errors">
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
