html * { padding: 0; margin: 0; }
body { color: #333; font: small sans-serif; padding: 10px 20px; }
h1, h2, h3 { font-weight: normal; }
h1 { border-bottom: 1px solid #ddd; margin-bottom: 10px; }
ul { list-style: none; }
.messages { margin-left: 20px; }
.message { margin: 10px 0; }
.errors { color: #de363a; }
.alert { background-color: #eee; display: inline-block; margin-bottom: 10px; padding: 5px; }
.alert-success { background-color: #9f9; }
