html * { padding:0; margin:0; }
body * { padding:10px 20px; }
body * * { padding:0; }
body { font:small sans-serif; }
body>div { border-bottom:1px solid #ddd; }
h1, h3 { font-weight:normal; }
h2 { margin-bottom:.8em; }
h2 span { font-size:80%; color:#666; font-weight:normal; }
ul, ol { list-style: none; }
#summary { background: #e0ebff; }
#summary h2 { font-weight: normal; color: #666; }
#message { background:#f6f6f6; }
.errors { color: #de363a; }
